<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Izin untuk menggambar overlay di atas aplikasi lain -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- Izin untuk menjalankan service di latar depan (foreground service) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:name=".AwamApplication"
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="Floating Bubble"
        android:roundIcon="@android:drawable/sym_def_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.FloatingBubble">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.FloatingBubble">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.FloatingBubble" />
            
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.HistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.FloatingBubble" />
        <activity
            android:name=".ui.PermissionActivity"
            android:exported="false"
            android:theme="@style/Theme.FloatingBubble" />
        <activity
            android:name=".ui.AdminDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.FloatingBubble" />

        <!-- Service untuk mengelola floating bubble -->
        <service
            android:name=".FloatingBubbleService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse" />
            
    </application>
</manifest>
